.thumbnail img{
  width: 100%;
  height: auto;
}

.gallery:hover {
  border: 1px solid #777;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

#map {
  width: 300px;
  height: 500px;
}
